body {
  font-family: sans-serif;
}

#board {
  table-layout: fixed;
  overflow: hidden;
  width: 600px;
  height: 360px;
  margin: 50px;
}

.col {
  border: 1px solid black;
  text-align: center;
  line-height: 60px;
}
.row {
  margin: 0;
}

.box {
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}
